body {
	width: 745px;
	margin: auto;
	overflow-y: scroll;
	
	font-family: 'Ubuntu Mono';
	text-justify: inter-character;
	text-align: justify;
}

h2, h3, ruby {
    color: #464453;
}

em {
    color: #F79E10;
}

/* unvisited link */
a:link {
    color: #F79E10;
}

/* visited link */
a:visited {
    color: #F79E10;
}

/* mouse over link */
a:hover {
    color: black;
    background-color: #F79E10;
}

/* selected link */
a:active {
    color: black;
    background-color: #F79E10;
}