---
layout: default
title: Blog - Michele Maione
---
	<h2>Blog</h2>
	<p class="giustificato">
		The posts below are automatically retrieved from my <a rel="me" target="_blank" href="https://mastodon.social/@mikymaione/">Mastodon profile</a>:
	</p>

	{% if site.data.mastodon_posts %}	
		{% for post in site.data.mastodon_posts %}				
		<section>
			<h3>				
				<a href="{{ post.url }}" target="_blank" title="View post on Mastodon"><i class="bi bi-mastodon"></i></a>
				{{ post.created_at | date: "%a %d/%m/%Y" }}
			</h3>

			<div class="giustificato">
				{{ post.content }}
			</div>

			{% if post.media_attachments.size > 0 %}
				{% assign media = post.media_attachments[0] %}
				<figure>
					<img src="{{ media.url }}"
						alt="{{ media.description | default: 'Image from Mastodon' }}"
						class="img-max-size">
					{% if media.description %}
						<figcaption>{{ media.description }}</figcaption>
					{% endif %}
				</figure>
			{% endif %}

			<div class="mastodon_share">
				<span title="{{ post.replies_count }} Replies">
					<i class="bi bi-chat{% if post.replies_count > 0 %}-fill{% endif %}"></i> 
					{{ post.replies_count }}
				</span>

				<span title="{{ post.reblogs_count }} Reblogs">
					<i class="bi bi-reply{% if post.reblogs_count > 0 %}-fill{% endif %}"></i> 
					{{ post.reblogs_count }}
				</span>

				<span title="{{ post.favourites_count }} Favourites">
					<i class="bi bi-star{% if post.favourites_count > 0 %}-fill{% endif %}"></i> 
					{{ post.favourites_count }}
				</span>

				<span title="{{ post.quotes_count }} Quotes">
					<i class="bi bi-bookmark{% if post.quotes_count > 0 %}-fill{% endif %}"></i> 
					{{ post.quotes_count }}
				</span>
			</div>
		</section>
		<div class="bullet">•</div>
		{% endfor %}
	{% else %}
		<p>No posts found. Please run the GitHub Action to fetch data.</p>
	{% endif %}