---
layout: default
title: Bookshelf - Michele Maione
---
	<h2>Bookshelf</h2>

	<p>Currently housing <strong>{{ site.data.Bookshelf.size }}</strong> books in my personal library:</p>

	<table>
		<thead>
			<tr>
				<th><strong>Author</strong></th>
				<th><strong>Title</strong></th>
			</tr>
		</thead>
		<tbody>
			{% assign libri_ordinati = site.data.Bookshelf | sort: 'Title' | sort: 'LastName' %}
			{% assign gruppi_lettere = libri_ordinati | group_by_exp: "libro", "libro.LastName | slice: 0 | upcase" %}
			
			{% for gruppo in gruppi_lettere %}
			<!-- Riga separatrice con la sola iniziale -->
			<tr class="letter-header">
				<td colspan="2">
					<em>
						<b>
							{{ gruppo.name }}
						</b>
					</em>
				</td>
			</tr>
			
			<!-- Righe dei libri che iniziano con questa lettera -->
			{% for libro in gruppo.items %}
			<tr>
				<td>{{ libro.Authors }}</td>
				<td class="giustificato">{{ libro.Title }}</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>